footer {
	margin-inline: -3rem;
	padding-block: 5rem;
	padding-inline: 3rem;
	color: light-dark(var(--black), var(--white));
	font-size: 0.9rem;
	line-height: 1.4rem;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;

	svg {
		padding-block-end: 1rem;
	}

	nav {
		block-size: 100%;
	}

	ul {
		text-align: right;
		list-style: none;
		margin: 0;
	}

	li {
		display: inline;
		margin-inline: 0.5rem;

		&:not(:has(.button)) {
			line-height: 3rem;
		}

		&:has(.button) {
			display: block;
			inline-size: fit-content;
			margin: 0;
			margin-inline-start: auto;
			margin-block-end: 2rem;
		}
	}

	@media (max-width: 45rem) {
		padding-block-start: 5rem;
		padding-block-end: 3rem;
		padding-inline: 0.8rem;
		flex-direction: column;
		margin-inline: -0.8rem;

		img {
			margin: auto;
		}

		p {
			text-align: center;
		}

		ul {
			text-align: center;
		}

		li:has(.button) {
			margin-inline: auto;
		}
	}
}
