footer {
	margin: 0 -3rem 0;
	padding: 5rem 3rem;
	color: light-dark(var(--black), var(--white));
	font-size: 0.9rem;
	line-height: 1.4rem;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;

	svg {
		padding-bottom: 1rem;
	}

	nav {
		height: 100%;
	}

	ul {
		text-align: right;
		list-style: none;
		margin: 0;
	}

	li {
		display: inline;
		margin-inline: 0.5rem;

		&:not(:has(.button)) {
			line-height: 3rem;
		}

		&:has(.button) {
			display: block;
			width: fit-content;
			margin: 0;
			margin-inline-start: auto;
			margin-block-end: 2rem;
		}
	}

	@media (max-width: 45rem) {
		padding: 5rem 0.8rem 3rem;
		flex-direction: column;
		margin: 0 -0.8rem 0;

		img {
			margin: auto;
		}

		p {
			text-align: center;
		}

		ul {
			text-align: center;
		}

		li:has(.button) {
			margin-inline: auto;
		}
	}
}
