main {
	display: flex;
	flex-direction: row-reverse;
	gap: 3rem;

	@media (max-width: 45rem) {
		flex-direction: column;
	}
}

section {
	inline-size: 100%;
	padding-block: 3rem;
	padding-inline: 2rem;
	border-radius: 2rem;
	background: light-dark(var(--blue), var(--grey));
}

aside {
	display: flex;
	flex-direction: column;
	inline-size: 30%;
	min-inline-size: 5rem;

	h2 {
		font-size: 1.2rem;
	}

	.docs-section {
		position: relative;
		margin-block: 0.5rem;

		summary {
			display: block;
			padding-block: 0.5rem;
			padding-inline: 0.75rem;
			font-weight: bold;
			border-radius: 0.5rem;
		}

		&::details-content {
			margin-block-start: 3rem;
			position: absolute;
			inset-block-start: 0;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			inline-size: 100%;
			background: light-dark(var(--white), var(--black));
		}

		a {
			display: block;
			padding-block: 0.5rem;
			padding-inline: 0.75rem;
			font-weight: bold;
			border-radius: 0.5rem;
		}
	}

	ul {
		margin-inline-start: 0;
		padding-inline-start: 0.8rem;

		ul {
			border-inline-start: 2px var(--grey) solid;

			@media (max-width: 45rem) {
				border-inline-start-color: var(--blue);
			}
		}

		li {
			list-style-type: none;
		}
	}

	> ul {
		padding-inline-start: 0;
	}

	a {
		text-decoration: none;
	}
}

h1 {
	margin-block-end: 2rem;
}

section div {
	max-inline-size: 80ch;

	* + h2,
	* + h3,
	* + h4,
	* + h5,
	* + h6 {
		margin-block-start: 2rem;
	}

	> * + * {
		margin-block-start: 1rem;
	}
}

.select-header {
	text-align: center;
	margin-block-start: 6rem;
	margin-block-end: 4rem;
}

.docs-selectors {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 0;

	li {
		position: relative;
		list-style: none;
		margin: 0;
		padding-block: 2rem;
		padding-inline: 4rem;
		border-radius: 1rem;
		font-size: 1.1rem;
		transition: scale 50ms ease-in-out;

		&:hover {
			scale: 1.1;
		}

		a {
			font-weight: bold;
			text-decoration: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
			}
		}
	}
}

.automod-docs-selector {
	color: oklch(from var(--red) calc(l - 0.5) c h);
	background: var(--red);
}

.autofeeds-docs-selector {
	color: oklch(from var(--orange) calc(l - 0.5) c h);
	background: var(--orange);
}

.autodice-docs-selector {
	color: oklch(from var(--magenta) calc(l - 0.5) c h);
	background: var(--magenta);
}

#contents-button,
.close-sidebar {
	display: none; /* Set to block dynamically */
}

@media (max-width: 45rem) {
	#contents-button {
		inline-size: fit-content;
		block-size: 2.5rem;
		margin-inline-start: -0.8rem;
		padding-inline-start: 1.5rem;
		border: transparent;
		border-radius: 0.25rem;
		border-start-start-radius: 0;
		border-end-start-radius: 0;
		background: var(--grey);

		svg {
			display: inline;
			block-size: 2.5rem;
			fill: var(--white);
		}

		span {
			margin-block: auto;
			margin-inline: 0.5rem;
		}
	}

	aside[popover] {
		background: var(--grey);
		color: var(--white);
		block-size: 100vh;
		inline-size: 17rem;
		max-inline-size: 90vw;
		padding: 1rem;
		border: none;
		border-start-end-radius: 0.5rem;
		border-end-end-radius: 0.5rem;

		&:not(:popover-open) {
			display: none;
		}

		.docs-section::details-content {
			background: var(--grey);
		}

		.close-sidebar {
			display: block;
			margin-block-end: 1rem;
			padding: 0.5rem;
			cursor: pointer;
			inline-size: 100%;
			color: var(--white);
			border: transparent;
			background: none;
			text-align: right;
		}
	}

	aside:popover-open::backdrop {
		background-color: rgb(0, 0, 0, 0.5);
	}
}
