.hero {
	display: flex;
	gap: 2rem;
	justify-content: space-around;
	align-items: center;
	min-height: calc(95vh - 5rem);

	h1 {
		font-size: 4rem;
		line-height: initial;
	}

	p {
		padding-block-end: 3rem;
		font-size: 1.3rem;
	}

	.button {
		font-weight: bold;
	}

	img {
		max-width: 50%;
		max-height: 20rem;
		border-radius: 2rem;
		background: var(--yellow);
	}

	@media (max-width: 40rem) {
		flex-direction: column-reverse;
		gap: 1rem;
		text-align: center;
		justify-content: center;
	}
}

main {
	max-width: 100rem;
	margin: 0 auto;
}

.feature-card-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.feature-card {
	margin: 0 -3rem;
	padding: 6rem 6rem;
	border-radius: 2rem;
	color: var(--black);
	display: flex;
	align-items: center;
	gap: 4rem;
	max-height: 32rem;

	div {
		width: 50%;
		mix-blend-mode: difference;
	}

	img {
		width: 50%;
		border-radius: 1rem;
		background: #010817;
		color: var(--white);
		padding: 0.75rem;
		max-height: 100%;
		object-fit: contain;
	}

	h2 {
		margin-bottom: 1rem;
	}

	@media (max-width: 45rem) {
		margin: 0 -0.8rem;
		padding: 3rem 3rem;
		flex-direction: column;
		gap: 2rem;

		div,
		img {
			width: 100%;
		}

		img {
			height: 100%;
		}
	}
}

.actions {
	color: #c3b2ff;
	background-color: #ff99c2;
	background-image:
		radial-gradient(at 93% 62%, hsla(136, 84%, 77%, 1) 0px, transparent 50%), radial-gradient(at 75% 8%, hsla(216, 89%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 95% 65%, hsla(28, 71%, 71%, 1) 0px, transparent 50%), radial-gradient(at 12% 99%, hsla(192, 73%, 68%, 1) 0px, transparent 50%);
}

.utilities {
	color: #fff0f0;
	background-color: #ff99c0;
	background-image:
		radial-gradient(at 4% 97%, hsla(34, 75%, 64%, 1) 0px, transparent 50%), radial-gradient(at 6% 22%, hsla(37, 87%, 79%, 1) 0px, transparent 50%),
		radial-gradient(at 7% 86%, hsla(50, 68%, 64%, 1) 0px, transparent 50%), radial-gradient(at 29% 81%, hsla(208, 92%, 65%, 1) 0px, transparent 50%);
}

.filtering {
	color: #ff6b6b;
	background-color: #ac99ff;
	background-image:
		radial-gradient(at 85% 22%, hsla(223, 83%, 78%, 1) 0px, transparent 50%), radial-gradient(at 27% 43%, hsla(314, 75%, 64%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 68%, hsla(352, 97%, 71%, 1) 0px, transparent 50%), radial-gradient(at 22% 45%, hsla(71, 75%, 71%, 1) 0px, transparent 50%);
}

.logging {
	color: #ffa2a2;
	background-color: #fff099;
	background-image:
		radial-gradient(at 15% 92%, hsla(152, 97%, 77%, 1) 0px, transparent 50%), radial-gradient(at 78% 54%, hsla(106, 82%, 70%, 1) 0px, transparent 50%),
		radial-gradient(at 97% 8%, hsla(89, 84%, 79%, 1) 0px, transparent 50%), radial-gradient(at 84% 50%, hsla(193, 88%, 69%, 1) 0px, transparent 50%);
}

.documentation {
	color: #e8ff44;
	background-color: #ff999e;
	background-image:
		radial-gradient(at 11% 94%, hsla(56, 85%, 63%, 1) 0px, transparent 50%), radial-gradient(at 37% 64%, hsla(79, 91%, 78%, 1) 0px, transparent 50%),
		radial-gradient(at 87% 15%, hsla(175, 92%, 60%, 1) 0px, transparent 50%), radial-gradient(at 97% 54%, hsla(141, 75%, 62%, 1) 0px, transparent 50%);
}

.stats {
	display: flex;
	gap: 3rem;
	margin: 3rem;
	justify-content: space-around;

	p {
		padding: 3rem;
		font-size: 1.5rem;
		text-align: center;
		line-height: initial;
		background: var(--green);
		color: var(--black);
		width: 100%;
		border-radius: 2rem;
	}

	@media (max-width: 45rem) {
		gap: 1rem;
		margin: 3rem 0;
	}

	@media (max-width: 26rem) {
		flex-direction: column;
	}
}

.donate {
	margin: 3rem;
	padding: 3rem;
	background: light-dark(var(--black), var(--white));
	color: light-dark(var(--white), var(--black));
	border-radius: 2rem;

	h2 {
		margin-bottom: 1rem;
	}

	p a {
		margin-top: 1rem;
	}

	@media (max-width: 45rem) {
		margin: 0;
		padding: 3rem 2rem;
	}
}
