a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
	word-break: break-word;

	&::after {
		font-family: "Material Symbols";
		font-size: 0.8rem;
		display: inline-block;
		line-height: 0;
	}

	&[href^="#"]::after {
		content: "swap_vert" / "Anchor";
	}

	&[href]:not([href*="automod.vale.rocks"], [href^="/"], [href^="#"])::after {
		content: "arrow_outward" / "External";
	}
}
